KEY_TO_GENERATE_SERVICE_TOKEN={{ iam.service_token }}
dataplane_apikey={{ iam.dataplane.service_token }}
dbUrl=postgresql://{{ spark_metastoredb.database_user }}@{{ spark_metastoredb.database_host }}:{{ spark_metastoredb.database_port }}/{{ spark_metastoredb.database_name }}?sslmode={{ spark_metastoredb.database_ssl_mode }}&sslrootcert={{ spark_metastoredb.certs_path }}/{{ spark_metastoredb.database_root_cert }}&sslcert={{ spark_metastoredb.certs_path }}/{{ spark_metastoredb.database_client_cert }}&sslkey={{ spark_metastoredb.certs_path }}/{{ spark_metastoredb.database_client_key_pkcs8 }}
