apiVersion: v1
kind: Secret
metadata:
  name: "{{ trust_store.zen_metastore_certs_secret_name }}"
  labels:
    function: "{{ trust_store.zen_metastore_certs_secret_name }}"
{% if cpdLabels  %} 
    {{ cpdLabels | to_nice_yaml| indent(4) }}
{% endif %}
  annotations:
{% if metering  %} 
    {{ metering | to_nice_yaml| indent(4) }}
{% endif %}
{% if owner_reference is defined %}
  ownerReferences:
    {{ owner_reference | to_nice_yaml | indent(4) }}
{% endif %}
data:
  ca.crt: "{{ zen_metastore.resources[0].data['ca.crt'] }}"
  client.spark_user.crt: "{{ zen_metastore.resources[0].data['client.spark_user.crt'] }}" 
  client.spark_user.key: "{{ zen_metastore.resources[0].data['client.spark_user.key'] }}" 
  client.spark_user.key.pk8: "{{ zen_metastore.resources[0].data['client.spark_user.key.pk8'] }}"