apiVersion: v1
kind: Secret
metadata:
  name: "{{ trust_store.icp4d_ts_secret_name }}"
  labels:
    function: "{{ trust_store.icp4d_ts_secret_name }}"
{% if cpdLabels  %} 
    {{ cpdLabels | to_nice_yaml| indent(4) }}
{% endif %}
  annotations:
{% if metering  %} 
    {{ metering | to_nice_yaml| indent(4) }}
{% endif %}
{% if owner_reference is defined %}
  ownerReferences:
    {{ owner_reference | to_nice_yaml | indent(4) }}
{% endif %}
data:
  cacerts: "{{ java_trust_store.resources[0].data['cacerts'] }}"
  password.txt: "{{ java_trust_store.resources[0].data['password.txt'] }}"