apiVersion: v1
kind: Secret
metadata:
  name: "{{ micro_service.wdp_secret_name }}"
  labels:
{% if cpdLabels  %} 
    {{ cpdLabels | to_nice_yaml| indent(4) }}
{% endif %}
{% if owner_reference is defined %}
  ownerReferences:
    {{ owner_reference | to_nice_yaml | indent(4) }}
{% endif %}
data:
{% if credExistingStatus.resources | length == 0 %}
  service-id-credentials: "{{ '%s:%s' | format(wdp_service_id, wdp_service_key) | b64encode | b64encode }}" 
  service-id: "{{ wdp_service_id | b64encode }}" 
{% else %}
  service-id-credentials: "{{ credExistingStatus.resources[0].data['service-id-credentials'] }}"
  service-id: "{{ credExistingStatus.resources[0].data['service-id'] }}"        
{% endif %}