apiVersion: v1
kind: Service
metadata:
  name: {{ name }}-helm-repo-headless
  labels:
    function: {{ name }}-helm-repo
{% if cpdLabels  %} 
    {{ cpdLabels | to_nice_yaml| indent(4) }}
{% endif %}
spec:
  selector:
    function: {{ name }}-helm-repo
{% if cpdLabels  %} 
    {{ cpdLabels | to_nice_yaml| indent(4) }}
{% endif %}
  clusterIP: None
  ports:
  - port: {{ helm_repo.port }}
    protocol: TCP