apiVersion: v1
kind: Service
metadata:
  name: "{{ name }}-control-plane"
  labels:
    function: "{{ name }}-control-plane"
{% if cpdLabels  %} 
    {{ cpdLabels | to_nice_yaml| indent(4) }}
{% endif %}
spec: 
  selector:
    function: "{{ name }}-control-plane"
{% if cpdLabels  %} 
    {{ cpdLabels | to_nice_yaml| indent(4) }}
{% endif %}
  type: {{ micro_service.svc_type }}
  ports: 
  - port: {{ micro_service.port }}
    protocol: TCP
    targetPort: {{ micro_service.target_port }}
