apiVersion: v1
kind: Secret
metadata:
  name: "{{ name }}-confidential-properties"
  labels:
    function: "{{ name }}-confidential-properties"
{% if cpdLabels  %} 
    {{ cpdLabels | to_nice_yaml| indent(4) }}
{% endif %}
  annotations:
{% if metering  %} 
    {{ metering | to_nice_yaml| indent(4) }}
{% endif %}
{% if owner_reference is defined %}
  ownerReferences:
    {{ owner_reference | to_nice_yaml | indent(4) }}
{% endif %}
data:
  confidential.properties: "{{ confidential_properties }}"