apiVersion: v1
kind: Secret
metadata:
  name: "{{ trust_store.os_cert_secret_name }}"
  labels:
    function: "{{ trust_store.os_cert_secret_name }}"
{% if cpdLabels  %} 
    {{ cpdLabels | to_nice_yaml| indent(4) }}
{% endif %}
  annotations:
{% if metering  %} 
    {{ metering | to_nice_yaml| indent(4) }}
{% endif %}
{% if owner_reference is defined %}
  ownerReferences:
    {{ owner_reference | to_nice_yaml | indent(4) }}
{% endif %}
data:
  ca-bundle.trust.crt: "{{ os_trust_store.resources[0].data['ca-bundle.trust.crt'] }}"
  tls-ca-bundle.pem: "{{ os_trust_store.resources[0].data['tls-ca-bundle.pem'] }}"