apiVersion: v1
kind: ConfigMap
metadata:
  name: spark-hb-addon-configmap
  labels:
    icpdata_addon: "true"
    function: {{ name }}-hb-add-ons
    icpdata_addon_version: {{ addon_version }}
{% if cpdLabels  %} 
    {{ cpdLabels | to_nice_yaml| indent(4) }}
{% endif %}
data:
  add-ons.json: |
    {
      "spark":{
      "access_management_enable":true,
      "category": "ds",
      "add_on_type":"application",
      "details":{
{% if global.ibm_product == "ws" %}
        "product_docs":"https://www.ibm.com/support/knowledgecenter/SSHGWL_2.1.0/wsj/spark/spark.html",
        "deploy_docs": "https://www.ibm.com/support/knowledgecenter/SSHGWL_2.1.0/wsj/install/install-spark.html",
        "images": null,
{% endif %}
        "always_enabled": true,
        "listURL": "/#/myData/databases",
        "service_provider_url": "{{ micro_service.scheme }}://{{ name }}-control-plane:{{ micro_service.port }}",
{% if global.ibm_product == "ws" %}
        "provisionURL" : "#/provisioning/spark/4.0.1",
{% else %}
        "provisionURL" : "#/provisioning/spark/4.0.1",
{% endif %}
        "accessManagementURL": "#/accessManagement",
        "serviceDetailsURL":"#/details",
        "premium": false,
        "has_jobs": true,
        "disableJobLogs": false,
        "generate_username": false
      },
      "extensions":{
      "access_management":{
         "roles":[
         "Admin",
         "Developer"
         ]
      },
      "details":{
         "tokens_enabled":false
      },
      "provisioning":{
         "storage":{
           "existing_pv_selection":true,
           "pv_creation":{
             "size":{
               "max":1024,
               "min":5
             }
           },
           "zen_volumes":true
         }
      }
      },
      "max_instances":"",
      "vendor":"IBM",
      "versions": {
        "4.0.1" : {
        "description": "This demonstrates how to register sample addon with icp4data",
        "helm_location": {},
        "state":"enabled",
        "details":{
          }
        }
      }
      }
    }
