apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ name }}-resource-limit"
  labels:
    function: "{{ name }}-resource-limit"
{% if cpdLabels  %} 
    {{ cpdLabels | to_nice_yaml| indent(4) }}
{% endif %}
data:
  resource-limit-properties: |-
    max_driver_cpu_cores={{ spark_runtime_config.max_driver_cpu_cores }}
    max_executor_cpu_cores={{ spark_runtime_config.max_executor_cpu_cores }}
    max_driver_memory={{ spark_runtime_config.max_driver_memory }}
    max_executor_memory={{ spark_runtime_config.max_executor_memory }}
    max_num_workers={{ spark_runtime_config.max_num_workers }}
    default_instance_cpu_quota={{ instance_config.default_cpu_quota }}
    default_instance_memory_quota_gibibytes={{ instance_config.default_memory_quota }}
