apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ name }}-rsyslog-config"
  labels:
    function: "{{ name }}-rsyslog-config"
{% if cpdLabels  %} 
    {{ cpdLabels | to_nice_yaml| indent(4) }}
{% endif %}
data:
  rsyslog.conf: |
    module(load="imfile" PollingInterval="10")
    $DefaultNetstreamDriverCAFile /etc/internal-tls/certificate.pem
    $DefaultNetstreamDriverCertFile /etc/internal-tls/tls.crt
    $DefaultNetstreamDriverKeyFile /etc/internal-tls/tls.key


    input(type="imfile"
          File="{{ configs.audit_event_log_file }}"
          Tag="serviceName"
          Facility="user")

    action(type="omfwd"
           Target="{{ rsyslog.target_host }}.NS_DOMAIN"
           Port="{{ rsyslog.port }}"
           Protocol="tcp"
           StreamDriver="gtls"
           StreamDriverMode="1"
           StreamDriverAuthMode="{{ rsyslog.driver_auth_mode }}"
           StreamDriverPermittedPeers="*.NS_DOMAIN")
